<section id="main">
    {{yield}}

    <input type="checkbox" id="toggle-all">
</section>

<footer id="footer">
    <span id="todo-count">
        <strong>{{remaining}}</strong> {{inflection}} left
    </span>
    <ul id="filters">
        <li>
            {{#link-to
              "todos.index"
              activeClass="selected"}}All{{/link-to}}
        </li>
        <li>
          {{#link-to
              "todos.incomplete"
              activeClass="selected"}}Active{{/link-to}}
        </li>
        <li>
            {{#link-to
              "todos.complete"
              activeClass="selected"}}Completed{{/link-to}}
        </li>
    </ul>

    <button id="clear-completed">
        Clear completed (1)
    </button>
</footer>
